.bk-input {
    color: #a6e22e;
    border-color: #666 !important;
    background-color: #272822 !important;
}

.bk-btn-default {
    color: #000 !important;
    border: 1px #0a0b09 !important;
    background-color: #fb961e !important;
}

.bk-slider-value
{
    color: #a6e22e;
}

.bk-root {
    border: 0px !important  ;
}

.noUi-connect {
    background-color: #fb961e !important;
}

.noUi-connects
{
    background: #272822 !important;
        border: 1px solid #666 !important;
}

.noUi-touch-area {
    background:  #272822 !important;
    border: 1px solid #666 !important;
}



.bk-input:hover {
    border-color: #aaa !important;
}

.bk-btn-default:hover {
    background-color: #fcbc6f !important;
}

.bk-root .bk-btn:active, .bk-root .bk-btn.bk-active {
    background-image: none;
    background-color: #fcbc6f !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.6);
}

.kpi-div{
    border-left: 0px #aaa solid;
}

.kpi-value {
    color: #f6246c;
 }

.kpi-units {
    color: #888;
}

